.cart {
    &--empty {
        @media (max-width: 730px) {
            width: 100%;
            padding: 0 30px;
        }

        @media (max-width: 550px) {
            h2 {
                font-size: 33px;
            }
            p {
                font-size: 18px;
            }
            img {
                width: 250px;
            }
        }
    }
}